<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello test</title>
</head>
<body>

<a href="yandex.ru">Yandex</a>
<a href="mail.ru">MAIL</a>
<a href="googe.ru">Google</a>
<a href="rambler.ru">Rambler</a>    <!-- 1 -->
<a href="rambler.ru">Rambler</a>    <!-- 2 -->
<a href="rambler.ru">Rambler</a>   <!--  3 -->
<a href="rambler.ru">Rambler</a>   <!--  4 -->
<a href="rambler.ru">Rambler</a>   <!--  5 -->
<a href="rambler.ru">Rambler</a>   <!--  6 -->
<a href="1">1page</a>         <!--  7 -->


</body>
</html>